.snippetcpt-wrap {
	position: relative;
}

.snippet-invisible { visibility: hidden; }
.snippet-hidden { display: none; }

.snippet-buttons .snippet-button:hover {
  color: #fff;
  background: #444;
  opacity: .8;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.snippet-buttons {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.snippetcpt-wrap .snippet-buttons {
	text-align: right;
	z-index: 2;
	width: 100%;
	z-index: 5;
}

.snippetcpt-wrap.scrollable .snippet-buttons, .snippet-scrollable .snippetcpt-wrap .snippet-buttons {
	padding: 0 1em;
}

.snippetcpt-wrap .snippet-button {
	color: #888;
	padding: .25em .32em;
}

.snippet-buttons .snippet-button::active {
  text-decoration: underline;
  border: none;
}

body.snippet-full-screen {
	overflow: hidden;
	max-height: 100%;
}
