.snippetcpt-wrap {
	position: relative;
}

.snippet-invisible { visibility: hidden; }
.snippet-hidden { display: none; }

.snippetcpt-wrap .snippet-buttons {
	opacity: 0;
}

.snippetcpt-wrap:hover .snippet-buttons, .snippetcpt-wrap.snippetcpt-hidden .snippet-buttons {
	opacity: 1;
}

.snippet-buttons .snippet-button:hover {
  color: #fff;
  background: #666;
  opacity: .95;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.snippetcpt-wrap:hover .snippet-buttons {
  color: #fff;
  background: #444;
  opacity: .9;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.snippet-buttons {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.snippetcpt-wrap .snippet-buttons, .snippetcpt-wrap .copy-success-msg {
	text-align: right;
	z-index: 2;
	width: 100%;
	z-index: 5;
}

.snippetcpt-wrap .copy-success-msg {
	overflow: hidden;
	position: relative;
	// background: #444;
	// opacity: 0;
	height: 0;
	color: #3fc380;
	top: auto;
	bottom: 0;
	right: .25em;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.snippet-copied-success {
	.copy-success-msg {
		// opacity: 1;
		height: auto;
		height: 1.5em;
	}
	.dashicons-thumbs-up {
		color: #3fc380 !important;
	}
}

.snippetcpt-wrap.scrollable .snippet-buttons, .snippet-scrollable .snippetcpt-wrap .snippet-buttons {
	padding: 0 1em;
}

.snippetcpt-wrap .snippet-button, .snippet-copy-status {
	color: #888;
	padding: .25em .32em;
}

.snippetcpt-wrap .snippet-copy-status {
	font-family: inherit;
	font-size: .75em;
	display: none;
}

.snippet-buttons .snippet-button::active {
  text-decoration: underline;
  border: none;
}

body.snippet-full-screen {
	overflow: hidden;
	max-height: 100%;
}
